/** RESET NAVIGATEUR **/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/** RECCURENTS DU CORPS DU SITE **/

body {
    width: 95vw;
    height: auto;
    background: linear-gradient(rgb(0, 0, 109), rgb(147, 0, 147));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}

span {
    font-weight: bold;
}

/** SECTION DE LA TETE DU SITE AVEC LE NOM & PRENOM, 
AINSI QUE LA PHOTO **/

section.header {
    width: 60vw;
    margin: 1%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section.header h1 {
    font-size: 2vw;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-shadow: 1px 1px 2px grey;
    padding: 1%;
}

div.teteducv {
    width: 15vw;
    height: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/** PHOTO DE PROFIL **/

div.teteducv div.img_photo_cv {
    width: 15vw;
    height: 15vw;
    background-image: url(img/profil.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: pink;
    margin: 1%;
    border-radius: 0px 150px 150px 150px;
}

/** BOUTON PERSONNAGE CHAT **/

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 20vw;
    height: 50vh;
    top: 50px;
    right: 0;
}

button div.perso_chat {
    width: 20vw;
    height: 50vh;
    background-image: url(img/perso_chat_a.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
}

button div.perso_chat_hide {
    width: 20vw;
    height: 50vh;
    background-image: url(img/perso_chat_b.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

/** MESSAGE DIT PAR PERSONNAGE CHAT **/

#mess {
    width: 20vw;
    height: 7vh;
    border: 2px solid white;
    box-shadow: 0px 3px 5px rgba(192, 192, 192, 0.51);
    border-radius: 100px 100px 2px 100px;
    text-shadow: 1px 1px 2px grey;
    color: white;
    position: absolute;
    top: 90px;
    right: 240px;
    padding: 1vw;
}

/** MOTIF ET MESSAGE DU MOTIF SITUE EN DESSOUS DU GRAND TITRE **/

div.motif {
    width: 98.2vw;
    height: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.motif h3 {
    width: 5vw;
    height: 3vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    position: absolute;
    top: -10px;
    left: 21.5vw;
    text-shadow: 1px 1px 2px grey;
}

div.motif p {
    width: 55vw;
    height: 12vh;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    text-align: left;
}

/** PARTIE GLOBALE **/

div.globale {
    width: 98vw;
    height: auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/** PARTIE GAUCHE DU CV **/

section.partie_gauche_cv {
    width: 48.1vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section.partie_gauche_cv h4 {
    text-align: center;
    line-height: 5vh;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-shadow: 1px 1px 2px grey;
}

section.partie_gauche_cv div {
    width: 22vw;
    height: 60vh;
    margin: 1vw;
}

section.partie_gauche_cv div ul {
    list-style: none;
    line-height: 3vh;
}

section.partie_gauche_cv div ul li {
    margin: .5vw 0vw;
}

section.partie_gauche_cv div ul li a {
    color: white;
    text-decoration: none;
}

section.partie_gauche_cv div ul li a:hover {
    color: pink;
    transition: .5s all ease;
}

section.partie_gauche_cv div.coordonnees {
    height: 22vh;
}

/** PARTIE DROITE DU CV **/

section.partie_droite_cv {
    width: 48.1vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
}

div.langues {
    margin-top: 2vw;
}

div.competences {
    margin-top: 3.5vw;
}

section.partie_droite_cv div.left {
    width: 30vw;
    height: 32vh;
    margin-right: 11vw;
}

/** DIV LANGUE QUI EST MISE A L'INVERSE DES AUTRES DIV, DANS 
LE BUT QUE LES TEXTES POINTENT LA DIRECTION DE DROITE **/

section.partie_droite_cv div.right {
    width: 30vw;
    height: 30vh;
    margin-left: 17.5vw;
    text-align: right;
}

section.partie_droite_cv div h4 {
    width: 12vw;
    text-align: center;
    line-height: 5vh;
    font-size: large;
    text-shadow: 1px 1px 2px grey;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

section.partie_droite_cv div h4.p-right {
    margin-left: 18vw;
}

section.partie_droite_cv div p {
    line-height: 3.5vh;
    padding: .5vw;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
}

/** VOICI LE CSS DE LA DIV DECO **/

section.partie_droite_cv div div.deco {
    padding: .5vw;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/** LES IMAGES POUR ILLUSTRER LES COMPETENCES **/

/* section.partie_droite_cv div div.deco div {
    width: 3vw;
    height: 3vw;
    background-color: bisque;
} */

section.partie_droite_cv div div.deco div.figma {
    width: 3vw;
    height: 3vw;
    background-image: url(img/figma.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s all ease-in-out;
}

section.partie_droite_cv div div.deco div.html {
    width: 3vw;
    height: 3vw;
    background-image: url(img/code.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s all ease-in-out;
}

section.partie_droite_cv div div.deco div.photoshop {
    width: 3vw;
    height: 3vw;
    background-image: url(img/adobe-photoshop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s all ease-in-out;
}

section.partie_droite_cv div div.deco div.illustrator {
    width: 3vw;
    height: 3vw;
    background-image: url(img/adobe-illustrator.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s all ease-in-out;
}

section.partie_droite_cv div div.deco div.team {
    width: 3vw;
    height: 3vw;
    background-image: url(img/team-building.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s all ease-in-out;
}

/** AJOUT D'EFFETS POUR LA PARTIE COMPETENCES **/

section.partie_droite_cv div div.deco div:hover {
    transform: scale(1.1);
}

/** FOOTER DU CV **/

footer {
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 55vw;
}

footer a {
    color: white;
    text-decoration: none;
    transition: .5s all ease-in-out;
}

footer a:hover {
    color: pink;
}

footer div.logo {
    width: 7vw;
    height: 7vh;
    background-image: url(img/Grand-Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0 3px 5px pink);
    transition: .3s all ease-in-out;
}

footer div.logo:hover {
    transform: scale(1.1);
}

/** RESPONSIVE MOBILE EN 768PX DE LARGEUR **/

@media screen and (max-width: 768px) {

    /** ENTETE DU SITE CONTENANT LA PHOTO DE PROFIL, 
    LE TITRE H1 ET LE PERSONNAGE CHAT  **/

    section.header {
        width: 78vw;
    }

    div.teteducv {
        width: 25vw;
    }

    div.teteducv div.img_photo_cv {
        width: 25vw;
        height: 25vw;
        background-size: cover;
    }

    section.header h1 {
        font-size: 4vw;
        padding: 2%;
    }

    button {
        width: 40vw;
        height: 50vh;
        top: 70px;
    }

    button div.perso_chat {
        top: 0px;
        width: 40vw;
        height: 50vh;
    }

    button div.perso_chat_hide {
        top: 0px;
        width: 40vw;
        height: 50vh;
    }

    #mess {
        width: 30vw;
        height: 10vh;
        border-radius: 100px 130px 2px 100px;
        right: 240px;
        top: 130px;
        font-size: 2vw;
        line-height: 4vh;
    }

    /** SECTION MOTIF **/

    div.motif {
        width: 90vw;
        margin: 10vw 0vw 0vw 0vw;
    }

    div.motif h3 {
        width: 15vw;
        height: 4vh;
        left: 10vw;
        font-size: 3vw;
        top: -18px;
    }

    div.motif p {
        width: 70vw;
        height: 20vh;
        padding: 2.5%;
        font-size: 2.5vw;
    }

    /** PARTIE GLOBALE **/

    div.globale {
        flex-direction: column;
    }


    /** PARTIE GAUCHE DU CV **/

    section.partie_gauche_cv {
        width: 98vw;
        height: 125vh;
        justify-content: space-between;
        align-items: center;
        margin: 10vw 0vw 0vw 0vw;
    }

    section.partie_gauche_cv h4 {
        font-size: 3vw;
    }

    section.partie_gauche_cv div {
        width: 70vw;
        height: auto;
    }

    section.partie_gauche_cv ul {
        margin: 2vw 0vw;
        line-height: 4vh;
    }

    section.partie_gauche_cv div ul li {
        font-size: 2.3vw;
    }

    /** PARTIE DROITE DU CV **/

    section.partie_droite_cv {
        flex-direction: column;
        width: 100vw;
        border-top: 1.5px solid white;
        border-left: none;
        margin: 10vw 0vw 0vw 0vw;
    }

    div.langues {
        margin-top: 3vw;
    }

    div.competences {
        margin-top: 5.5vw;
    }

    section.partie_droite_cv div.centresinteret {
        margin-top: 10vw;
    }

    section.partie_droite_cv div.left {
        width: 70vw;
        margin-right: 0vw;
    }

    section.partie_droite_cv div.right {
        width: 70vw;
        margin-left: 0vw;
    }

    section.partie_droite_cv div h4 {
        width: 30vw;
        font-size: 3vw;
    }

    section.partie_droite_cv div h4.p-right {
        margin-left: 40vw;
    }

    /** VOICI LE CSS DE LA DIV DECO DANS SECTION COMPETENCES **/

    section.partie_droite_cv div div.deco {
        height: 10vh;
        justify-content: space-evenly;
    }

    section.partie_droite_cv div div.deco div.figma {
        width: 8vw;
        height: 9vh;
    }

    section.partie_droite_cv div div.deco div.html {
        width: 8vw;
        height: 9vh;
    }

    section.partie_droite_cv div div.deco div.photoshop {
        width: 8vw;
        height: 9vh;
    }

    section.partie_droite_cv div div.deco div.illustrator {
        width: 8vw;
        height: 9vh;
    }

    section.partie_droite_cv div div.deco div.team {
        width: 8vw;
        height: 9vh;
    }

    /** FOOTER **/

    footer {
        width: 98vw;
        margin-left: 0;
    }

    footer a {
        font-size: 2.5vw;
        animation-name: brightness;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

    footer a:hover {
        display: none;
    }

    @keyframes brightness {

        0% {
            filter: brightness(0.4);
            filter: contrast(0.4);
            -webkit-filter: brightness(0.4);
            -webkit-filter: contrast(0.4);
            filter: drop-shadow(0 0 1px pink);
        }

        50% {
            filter: brightness(1);
            filter: contrast(1);
            -webkit-filter: brightness(1);
            -webkit-filter: contrast(1);
            filter: drop-shadow(0 0 10px pink);
            color: rgb(250, 220, 225);
        }

        100% {
            filter: brightness(0.4);
            filter: contrast(0.4);
            -webkit-filter: brightness(0.4);
            -webkit-filter: contrast(0.4);
            filter: drop-shadow(0 0 1px pink);
        }

    }

}


/** RESPONSIVE MOBILE EN 390PX DE LARGEUR **/

@media screen and (max-width: 390px) {
    body {
        width: 100vw;
        height: 80vh;
    }

    /** SECTION EN-TETE DU SITE AVEC LA PHOTO DE PROFIL 
    ET LE NOM & PRENOM **/

    div.teteducv {
        width: 100vw;
        height: auto;
        padding: 1%;
    }

    div.teteducv div.img_photo_cv {
        width: 100vw;
        height: 100vw;
    }


}